<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增书签')"/>
    <th:block th:include="include :: datetimepicker-css"/>
<!--    <script type="text/javascript" th:src="@{/js/vue.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/element-ui.js}"></script>-->
<!--    <link th:href="@{/css/element-ui.css}" rel="stylesheet" type="text/css"/>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-bookmarks-add">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">网站名：</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control" placeholder="请输入网站名">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">网站图标：</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control" placeholder="请输入网站图标">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">网址：</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control" placeholder="请输入网址">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序因子：</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control" placeholder="请输入文本">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control" placeholder="请输入简介">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">网站标签：</label>
                <div class="col-sm-9">
                    <select class="form-control" name=""></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">详细描述：</label>
                <div class="col-sm-9">
                    <textarea type="text" name="" class="form-control" placeholder="请输入详细描述"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-9">
                    <textarea type="text" name="" class="form-control" placeholder="请输入备注"></textarea>
                </div>
            </div>
            <div id="app">
                <div class="form-group">
                    <label class="col-sm-3 control-label">下拉树：</label>
                    <div class="col-sm-9">
                        <el-tree
                                :props="props"
                                :load="loadNode"
                                lazy
                                show-checkbox
                                @check-change="handleCheckChange">
                        </el-tree>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "ccw/bookmarks"
    $("#form-bookmarks-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-bookmarks-add').serialize());
        }
    }

    $("input[name='detectionTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='createDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='updateDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='detectionDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
<!--todo 获取后端传回来的tag树形列表-->
<script th:inline="javascript">

    var Main = {
        data() {
            return {
                props: {
                    label: 'name',
                    children: 'zones'
                },
                count: 1
            };
        },
        created() {
            this.getTagTree();
        },
        methods: {
            getTagTree() {
                this.$api.get(ctx + "ccw/tag/tree").then(res => {
                    if (res.data) {
                        console.log("=========")
                        console.log(data)
                        console.log("=========")
                    }
                })
            },
            handleCheckChange(data, checked, indeterminate) {
                console.log(data, checked, indeterminate);
            },
            handleNodeClick(data) {
                console.log(data);
            },
            loadNode(node, resolve) {
                if (node.level === 0) {
                    return resolve([{name: 'region1'}, {name: 'region2'}]);
                }
                if (node.level > 3) return resolve([]);

                var hasChild;
                if (node.data.name === 'region1') {
                    hasChild = true;
                } else if (node.data.name === 'region2') {
                    hasChild = false;
                } else {
                    hasChild = Math.random() > 0.5;
                }

                setTimeout(() => {
                    var data;
                    if (hasChild) {
                        data = [{
                            name: 'zone' + this.count++
                        }, {
                            name: 'zone' + this.count++
                        }];
                    } else {
                        data = [];
                    }

                    resolve(data);
                }, 500);
            }
        },
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</body>
</html>