<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ccw.mapper.CcwBookmarkTagMapper">
    
    <resultMap type="CcwBookmarkTag" id="CcwBookmarkTagResult">
        <result property="id"    column="id"    />
        <result property="bookmarkId"    column="bookmark_id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCcwBookmarkTagVo">
        select id, bookmark_id, tag_id, create_time, update_time, create_date, update_date, remark from ccw_bookmark_tag
    </sql>

    <select id="selectCcwBookmarkTagList" parameterType="CcwBookmarkTag" resultMap="CcwBookmarkTagResult">
        <include refid="selectCcwBookmarkTagVo"/>
        <where>  
            <if test="bookmarkId != null "> and bookmark_id = #{bookmarkId}</if>
            <if test="tagId != null "> and tag_id = #{tagId}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
    </select>
    
    <select id="selectCcwBookmarkTagById" parameterType="Long" resultMap="CcwBookmarkTagResult">
        <include refid="selectCcwBookmarkTagVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCcwBookmarkTag" parameterType="CcwBookmarkTag">
        insert into ccw_bookmark_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bookmarkId != null">bookmark_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bookmarkId != null">#{bookmarkId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCcwBookmarkTag" parameterType="CcwBookmarkTag">
        update ccw_bookmark_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookmarkId != null">bookmark_id = #{bookmarkId},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCcwBookmarkTagById" parameterType="Long">
        delete from ccw_bookmark_tag where id = #{id}
    </delete>

    <delete id="deleteCcwBookmarkTagByIds" parameterType="String">
        delete from ccw_bookmark_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>